body{
background-image:url(background.webp);
background-repeat:no-repeat ;
background-size: cover;
}
.container {
display:grid;
grid-template-columns: 66% auto;
padding: 4em 1em;
}
footer {
background:#b0cef1d8;
position: absolute;
bottom: 0px;
}

ul {
margin:0;padding:0;
display:grid;
list-style-type:none;
grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(2, auto);
}
ul li {
    padding: 10px;
    color:black;
}
ul li span {
    display:block;
    font-size:20px;
    margin-bottom:1em;
    color:rgb(18, 101, 196);
    font-weight: bold;
}