body {
    background-image:url(background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h3{
    text-align: center;
    margin-bottom: 50px;
}
.tabel1{
    margin-top: 50px;
    float: center;
    position: relative;
    left: 520px;
}
form{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;

}
input{
    margin: 15px;
    width: 350px;
    padding: 9px;
    background-color: rgba(250, 244, 244, 0.87);
    border:2px solid rgb(146, 146, 146);
    text-align: left;
}
input[type="checkbox"]{
    display: inline;
    width: 15px;
    position: relative;
    right: 100px;
}
label span{
    position: relative;
    right: 110px;
}

button{
    margin: 15px;
    width: 180px;
    padding: 9px;
    border-radius: 15px;
    background-color: rgba(0, 110, 255, 0.753);
    text-align: center;
    font-size: 15px;
    border: transparent;
}